@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* General*/
* {
    box-sizing: border-box;
    margin: 0;
    color: #374a69 ;
    font-family: 'Roboto', sans-serif;;
    font-size: 1.1rem;
    letter-spacing: .05em;
}

/* Nav-bar*/
.nav--bar--el {
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    padding: .7em;
}

.nav--el {
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.logo--nav {
    width: 200px;
    height: auto;
}

.nav--bar--el.scrolled {
    box-shadow: 1px -10px 25px -8px #0097f5;
    background: #ffffff;
}

.bnt--blue--standard {
    width: 180px;
    height: 45px;
    background: #0097f5;
    border: none;
    border-radius: .2em;
    color: #ffff;
    transition-duration: 750ms;
}

.bnt--blue--standard:hover {
    background-color: #5AB2FF;
    transition-timing-function: ease;
    cursor: pointer;
}

.bnt--blue--standard:active {
    transform: translatey(4px);
}

.nav--anchors {
    text-decoration: none;
    margin-right: 2.5em;
}

.nav--anchors:hover {
    font-weight: 700;
    border-bottom: 1px solid #374a69 ;
}

nav--anchors:focus {
    cursor: grabbing;
}

/* About me section */

.about--me--main--container { 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15em;
}

.about--me {
    display: flex;
}

.img--container--about--me {
    display: flex;
    width: 100%;
    margin-right: 5em;
}

.code--img--about--me,
.office--img--about--me {
    display: flex;
    height: 350px;
    width: auto;
    border-radius: .5em;;
}

.code--img--about--me {
    position:relative;
    left: 20%;
    top: 35%; 
}

.office--img--about--me {
    position:relative;
}

.text--about--me {
    font-size: 2.2rem;
    width: 20em;
    line-height: 1.5em;
    text-align: center;
}

.codding--paragraph,
.resume--header {
    font-size: 2.5rem;
    font-weight: 900;
}

.coding--text { 
    border-radius: 1em;
}

.span--coding--journey {
    z-index: 0; 
    position: relative;
}

.span--coding--journey:before {
    position: absolute;
    content: '';
    height: .2em;
    width: 80%;
    bottom: .15em;
    z-index: -1;
    background: #0097f5; 
    right: .6em;
}

.carouse--container {
    border-radius: 1em;
    overflow: hidden;
}

/* The my Projects section */

.left--content--first--project {
    margin-right: 5em;
}

.first--project,
.second--project {
    display: flex;
    width: 100%;
    margin-top: 200px;
    justify-content: center;
    align-items: center; 
}

.html--content,
.css--content,
.js--content {
    width: 700px;
    height: 400px;
    margin-bottom: 50px;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
}

.ss--project {
    width: 700px;
    margin-top: 60px;
}

.programming--header,
.programming--project {
    display: flex;
    align-items: center; 
    height: 30px;
    background: #C7C8CC;
    width: 100%;
    padding: .5em;
} 

.programming--dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 10px;
}

.orange--dot {
    background: #DD5746;
}

.yellow--dot {
    background: #FEB941;
}

.green--dot {
    background: #41B06E;
}

.programming--title {
    margin-left: 10px;
    font-weight: 100;
    letter-spacing: .2em;
    font-size: .8rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center; 
    background-color: #ffffff;
    padding: 0em 0.5em;
    border-radius: 1em;
}

video {
    border-radius: .5em;
}

.span--coding--projects {
    z-index: 0; 
    position: relative;
}

.span--coding--projects:before {
    position: absolute;
    content: '';
    height: .2em;
    width: 80%;
    bottom: .15em;
    z-index: -1;
    background: #0097f5; 
    right: .95em;
}

.projects--btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects--description {
    margin-top: 20px;
    background: #f7fcff;
    height: 250px;
    padding: 1em;
    border-radius: .5em;
    box-sizing: border-box;
}

.projects--description {
    display: flex;
    flex-direction: column;
}

.text--projects--description {
    margin-bottom: auto;
}

.language-javascript {
    height: 400px;
    font-size: 1rem;
}


pre[class*="language-javascript"] {
    margin: 0 !important;
}

.projects--header--logo {
    width: 15px;
    height: auto;
    border-radius: .1em;
    margin-right: .2em;
}

/* Footer component */

.footer--container {
    display: flex;
    justify-content: space-around;
    padding: 5em;
    height: 500px;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%; 
}

.footer--base--text {
    text-align: center;
    padding: 1.7em;
    display: flex;
    justify-content: center;
}

hr {
    width: 60%;
    text-align: right;
    margin-left: 20%;
}

li {
    cursor: pointer;
    display: flex;
    margin-bottom: .6em;
}

.logo {
    transition: 2s;
}

.logo:hover {
    transition: opacity .5s ease-in-out;
    opacity: .6;
}

.policy--list {
    display: flex;
    list-style-type: circle;
}

.policy--list-item {
    margin-left: 1.5em;
}

li:hover {
    text-decoration: underline;
}

.footer--social--media--icons { 
    width: 30px;
    height: auto;
    margin-right: .5em;
}

.social--media--link { 
    display: flex;
}

.footer--header--text {
    font-weight: 900;
    margin-bottom: 1.5em;
}

.left--footer--text {
    width: 310px;
    font-size: .8rem;
    padding: .6em;
    margin-top: .5em;
}

/* Books to inspire component */

.books--paragraph {
    width: 100%;
    margin: 0;
}

.books--testimonal--container {
    display: flex;
    max-width: 800px;
    margin-bottom: 3em;
    margin-top: 2em;
    justify-content: center;
    align-items: center; 
    margin-left: 25%;
    margin-right: 25%;
}

.right--testimonial--content {
    min-height: 250px;
    min-width: 430px;
    padding: 1em;
    margin-left: 2.7em;
}

.testimonial--paragraphs {
    border-left: 4px solid #0097f5;
    padding-left: .7em;
}


.testimonial--personal--quote {
    font-weight: 900;
    font-size: 1.4rem;
}

.testimonial--myjob {
    color: #aaa;
    font-size: .7rem;
}

.quote { 
    font-size: 1.8rem;;
}

.testimonial--img {
    /* max-height: 450px; */
    min-height: 270px;
    min-width: 270px;
    /* width: auto; */
    filter: grayscale(100%);
    border-bottom-left-radius: 20em;
}

#books--wrapper {
    max-width: 1800px;
    padding: 3em;
    margin-left: 11%;
    margin-right: 9%;
    margin-top: 200px;
}

.books--flex--element {
    display: flex;
}

.books--main--container {
    max-width: 1800px;
    display: flex;
    flex-wrap: wrap;  
}

.rating--genre--container {
    display: flex;
    flex-wrap: wrap;
}

.books--cover--img {
    border-top-right-radius: 1.5em;
    width: 130px;
    height: auto;
    margin-bottom: 1em;
    }
    
.scale-effect {
    transition: transform 0.3s ease
}

.scale-effect:hover {
    transform: scale(1.1);
}

.lorand--img {
    height: 193px;
}

.book--elements { 
    display: flex;
    margin-bottom: 1em;
}

.cover--strings--container {
    width: 230px;
    height: auto;
    display: grid;
    place-items: center;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

.books--comments {
    width: 450px;
    height: 300px;
    background-color: #f7fcff;
    padding: 1.5em;
    border-radius: 20px 150px;
    transition: background-color 2s ease;
    border-radius: 15px 50px;
    line-height: 1.1em;
}

.title--books--comments { 
    font-size: 1rem;
    font-weight: 900;
}

.author--books--comments {
    font-size: .6em;
    color: gray;
    font-style: italic;
}

.myComments--books--comments {
    font-size: .7em;
    border-left: 1px solid white;
    margin-top: .7em;
    padding: .5em;
}

@-webkit-keyframes SHOW-BOX {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes SHOW-BOX {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@-o-keyframes SHOW-BOX {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes SHOW-BOX {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

.show-box {
    -webkit-animation: SHOW-BOX 2s ease;
    -moz-animation: SHOW-BOX 2s ease;
    -o-animation: SHOW-BOX 2s ease;
    animation: SHOW-BOX 2s ease;
}

/* Resume */

#resume--wrapper {
    max-width: 1800px;
    padding: 3em;
    margin-left: 11%;
    margin-right: 9%;
    margin-top: 200px;
    display: grid; 
    place-items: center; 
}

.resume--main--container {
    max-height: 500px;
    display: flex;
    align-items: center;
}

.resume--profile--img {
    background-image: url(https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bWFuJTIwcG9ydHJhaXR8ZW58MHx8MHx8fDA%3D);
    background-size: cover;
    min-width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 1em solid #ffffff;
    box-shadow: 1px 0px 30px -10px #0097f5;
}

.resume--header--right--content {
    max-width: 700px;
    padding: 2em;
}

#resume--myjob {
    font-size: 24px;
    font-weight: bold;
    color: #aaa;
    transition: transform 0.5s ease-in-out;
}
  
.slide-in {
    transform: translateY(0);
}
  
.slide-out {
    transform: translateY(-100%);
}

.btn--resume {
    margin-right: 1em;
    margin-bottom: 1em;
}

.resume--content {
    margin-bottom: 1em;
    font-size: .9rem;
}

.resume--body--container {
    margin-top: 10em;
    width: 100%;
    height: 100%;
}

.resume--experience { 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.resume--ex {
    width: 650px;
    height: 180px;
    margin-top: 2em;
}

.resume--experience--header {
    font-weight: 900;
}

.resume--experience--role {
    font-size: .8rem;
    color: #aaa;
    margin-top: .5em;
}

.resume--experience--content {
    font-size: .9rem;
    margin-top: 1em;
}

.resume--logo {
    width: 40px;
    height: auto;
    border-radius: 1em;
    margin-right: .5em;
}

.resume--experience--head {
    display: flex;
    align-items: center;
}

.resume--skills,
.funny--skills {
    margin-top: 5em;
}

/* Resume component | Resume skills container */

.resume--skills {
    display: flex;
    flex-wrap: wrap;
}

.hard--skills--programming { 
    max-width: 210px;
    height: 320px;
    margin-right: 1em;
}

.hard--skills--programming:hover {
    transform: translateY(-10px);
    transition: all .3s ease-in-out;
}

.hard--skills--img {
    width: 210px;
    height: 160px;
    border-radius: .5em;
    object-fit: cover;
}

.hard--skills--img:hover {
}

.hard--skills--text {
    font-size: .8rem;
    color: #aaa;
}

.hard--skills--string {
    font-size: .9rem;
}

.float--text {
    position:absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    margin-top: .5em;
    margin-left: .5em;
    border-radius: .5em;
    padding: 0 .5em;
    font-size: .8rem;
    font-weight: 900;
}

/* Resume component | Funny skills container */

.funny--skills {
    display: flex;
    justify-content: space-around
}

.resume--funny {
    display: grid;
    text-align: center;
    width: 300px;
    max-width: 250px;
    height: 250px;
    padding: .5em;
    box-shadow: 0 12px 17px rgba(0, 0, 0, .12);
}

.funny--skills--header {
    font-size: 2.5rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    padding-top: .5em;
}

.strava--stats { 
    padding-top: 2em;
    height: 200px;
    width: 500px;
    margin: 0 auto;
}